@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Dancing+Script:wght@400;500;600;700&family=Exo+2&family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&family=Manrope:wght@200;300;400;500;600;700;800&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,700;1,800;1,900&family=Roboto&family=Tilt+Neon&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #548687;
    /* background-color: #ea638c; */
    text-align: center;
    font-size: 2rem;
    font-family: 'Bungee Spice', sans-serif;
}
.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;

}
.box{
    height: 18vmin;
    width: 18vmin;
    border: none;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.9);
    font-size: 6vmin;
    color: #c8811f;
    background-color: #ffffc7;
}
#reset{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #c5b32c;
    color: #387780;
    font-weight: 600;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(207, 162, 49, 0.9);
}
#new-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #c5b32c;
    color: #387780;
    font-weight: 600;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(207, 162, 49, 0.9);
}
#msg{
    color: #ffffc7;
    font-size: 8vmin;
    font-family: 'Bungee Spice', sans-serif;
}
.msg-container{
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}
.hide{
    display: none;
}